<h1>Ingresar nuevo Evento</h1>

<%= form_for :evento, url: eventos_path do |f| %>
  <p>
    <%= f.label :title, 'Título' %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description, 'Descripción del Evento' %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :datetime, 'Fecha del Evento' %><br>
    <%= f.datetime_field :datetime %>
  </p>
  <p>
    <%= f.submit "Publicar" %>
  </p>
<% end %>