<h1>Ingresar nuevo evento</h1>

<%= form_for :evento, url: eventos_path do |f| %>
  <p>
    <%= f.label :title, 'Título' %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body, 'Descripción del Evento' %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :evdate, 'Fecha del Evento' %><br>
    <%= f.date_field :evdate %>
  </p>
  <p>
    <%= f.submit "Publicar" %>
  </p>
<% end %>